<h1>Create a new Picture</h1>


<%= form_for @picture do |f| %>
    <%= f.label :image_url %>
    <%= f.text_field :image_url %><br>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %><br>
        <%= f.fields_for :tags, @picture.tags.build do |tag| %><br>
            <%= tag.label "Create a new Tag"%><br>
            <%= tag.text_field :name %><br>
        <% end %>
    <%= f.hidden_field :user_id, :value => @user.id%>
    <%= f.submit %>
<%end%><br>
<h2><%=@user.username.capitalize%>'s Pictures</h2><br>
<% @user.pictures.each do |pic| %>
   <h2><%= link_to pic.title.capitalize, picture_path(pic)%></h2><br>
   Tags: <br>
   <% pic.tags.each do |tag| %>
        <%= link_to tag.name.capitalize, tag_path(tag)%><br>
        <%end%>
        <br>
    <img src=<%=pic.image_url%>><br>
<%end%>