<nav class="navbar">
    <% if logged_in? %>
        <h1>Welcome, <%= link_to current_user.username, current_user %></h1>
        <div class="b"><%= link_to "LOG OUT", '/logout', method: :delete %></div>
        <%= link_to "My Pictures", user_path(current_user), class: "nav-link" %>
        <%= link_to "All Pictures", pictures_path(:index), class: "nav-link" %>
        <%= link_to "Post a new Picture", new_picture_path, class: "nav-link" %>
    <%end%>


</nav>

