<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>    
    
    <% if logged_in? %>
      <h1>Welcome, <%= link_to current_user.username.capitalize, current_user %></h1>
    <%end%>
    <%= render 'layouts/navigation' %>
    <%= yield %>
  </body>
</html>
