<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>    
    <% if logged_in? %>
      <h1>Welcome, <%= link_to current_user.username, current_user %></h1>
      <p><%= link_to "Post a new Pic", new_picture_path %></p><br>
      <%= link_to "Log Out", '/logout', method: :delete %><br>
      
    <% end %> <br>
    <%= yield %>
  </body>
</html>
